<div class="cover align-middle">
  <div class="container">
    <div class="row justify-content-center">
      <% if user_signed_in? && @user == current_user %>
        <h1 class="font-weight-normal mt-5 mb-5">マイページ</h1>
      <% else %>
        <h1 class="font-weight-normal mt-5 mb-5"><%= @user.name %>さんのページ</h1>
      <% end %>
    </div>
    <% if @user == current_user and current_user.is_folklore and @successors %>
    <div>
      <% @successors.each do |successor| %>
        <% if !current_user.matching?(current_user.id, successor.id) and !current_user.reject?(current_user.id, successor.id) %>
          <%= link_to confirm_user_matchings_path(@user.id, successor.id) do %>
            <p><%= successor.name %>さんから申請がきています</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% end %>
    <% if user_signed_in? && @user == current_user %>
    <p class="d-flex justify-content-end">
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
    </p>
    <% end %>
    <div class="d-flex">
      <%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.png", class: "mb-3 profile-img" %>
      <p class="ml-3 mb-3"><%= @user.profile %></p>
    </div>
    <% if current_user != @user and current_user.is_folklore == false %>
      <% if current_user.requested?(@user.id, current_user.id) %>
      <%= link_to '申請を取り消す', user_matchings_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
      <% elsif !current_user.matching?(@user.id, current_user.id) and !current_user.reject?(@user.id, current_user.id) %>
      <%= link_to '教えてもらう', new_user_matchings_path(@user.id), method: :get, class:"btn-sm btn-success" %>
      <% end %>
    <% end %>
    <% if @user == current_user and !current_user.is_folklore and @reccomends %>
    <div class="row justify-content-center">
      <h2>おすすめ一覧</h2>
      <div class="container">
        <div class="row">
          <% @reccomends.each do |reccomend| %>
            <% if !current_user.matching?(reccomend.id, current_user.id) and !current_user.reject?(reccomend.id, current_user.id) %>
            <div class="col">
              <%= link_to user_path(reccomend.id) do %>
                <div class="card" style="width: 18rem;">
                  <%= attachment_image_tag reccomend, :profile_image, size: '200x200', fallback: "no_image.png", class: "mx-3 card-img-top" %>
                  <p><%= reccomend.name %>さん</p>
                  <p>カテゴリー: <%= reccomend.category_name %></p>
                  <p><%= reccomend.profile %></p>
                </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
