<div class="container">
    <%= form_for(@folklore, url: {controller: 'folklores', action: 'new_category' }) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name %>

      <%= f.label :furigana %>
      <%= f.password_field :furigana %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
</div>