<div class="container">
    <%= form_with(model: @folklore, url: {controller: 'folklores', action: 'create' }, local: true) do |f| %>
      <p><%= @folklore.email %></p>
      <p><%= @folklore.password %></p>
      <p><%= @folklore.user_name %></p>
      <p><%= @folklore.furigana %></p>
      <p><%= @category %></p>

      <%= f.hidden_field :email %>
      <%= f.hidden_field :password %>
      <%= f.hidden_field :user_name %>
      <%= f.hidden_field :furigana %>
      <input type="hidden" name="category" value="<%= @category %>">

      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>